In [ ]:
#export PYTHONPATH="${SPARK_HOME}/python/:$PYTHONPATH"
#export PYTHONPATH="${SPARK_HOME}/python/lib/py4j-0.10.9.5-src.zip:$PYTHONPATH"

## Q1 Install Spark and PySpark

In [6]:
import pyspark

In [10]:
import pandas as pd

In [36]:
from pyspark.sql import SparkSession
from pyspark.sql import types
from pyspark.sql import functions as F

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

23/02/26 18:19:29 WARN Utils: Your hostname, aliciescont-Lenovo-Legion-5P-15IMH05 resolves to a loopback address: 127.0.1.1; using 192.168.1.136 instead (on interface wlp0s20f3)
23/02/26 18:19:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/26 18:19:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
pyspark.__version__

'3.3.2'

## Q2 HVFHW June 2021

In [8]:
!ls -lh fhvhv_tripdata_2021-06.csv

-rw-rw-r-- 1 aliciescont aliciescont 878M dic 20 01:13 fhvhv_tripdata_2021-06.csv

In [23]:
df = spark.read \
    .option("header", "true") \
    .csv('raw/fhvhv_tripdata_2021-06.csv')

In [24]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [17]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [18]:
df.take(5)

[Row(dispatching_base_num='B02764', pickup_datetime='2021-06-01 00:02:41', dropoff_datetime='2021-06-01 00:07:46', PULocationID='174', DOLocationID='18', SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime='2021-06-01 00:16:16', dropoff_datetime='2021-06-01 00:21:14', PULocationID='32', DOLocationID='254', SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime='2021-06-01 00:27:01', dropoff_datetime='2021-06-01 00:42:11', PULocationID='240', DOLocationID='127', SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime='2021-06-01 00:46:08', dropoff_datetime='2021-06-01 00:53:45', PULocationID='127', DOLocationID='235', SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02510', pickup_datetime='2021-06-01 00:45:42', dropoff_datetime='2021-06-01 01:03:33', PULocationID='144', DOLocationID='146', SR_Flag='N', Affiliated_base_number=None)]

In [22]:
fhvhv_schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_input_pathdatetime', types.TimestampType(), True), 
    types.StructField('dropoff_datetime', types.TimestampType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [26]:
input_path = f'raw/'
output_path = f'pq/'

df = spark.read \
	.option("header", "true") \
	.schema(fhvhv_schema) \
	.csv(input_path)

In [30]:
df \
	.repartition(12) \
	.write.parquet(output_path, mode='overwrite')

23/02/26 18:45:51 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/02/26 18:45:51 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/02/26 18:45:51 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/02/26 18:45:51 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/02/26 18:45:51 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers

23/02/26 18:45:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/02/26 18:45:59 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers

23/02/26 18:45:59 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/02/26 18:45:59 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [31]:
!ls -lh pq/

total 265M
-rw-r--r-- 1 aliciescont aliciescont 23M feb 26 18:45 part-00000-37b606cc-a287-4bda-a3ef-f4b588907b12-c000.snappy.parquet
-rw-r--r-- 1 aliciescont aliciescont 22M feb 26 18:45 part-00001-37b606cc-a287-4bda-a3ef-f4b588907b12-c000.snappy.parquet
-rw-r--r-- 1 aliciescont aliciescont 23M feb 26 18:45 part-00002-37b606cc-a287-4bda-a3ef-f4b588907b12-c000.snappy.parquet
-rw-r--r-- 1 aliciescont aliciescont 22M feb 26 18:45 part-00003-37b606cc-a287-4bda-a3ef-f4b588907b12-c000.snappy.parquet
-rw-r--r-- 1 aliciescont aliciescont 22M feb 26 18:45 part-00004-37b606cc-a287-4bda-a3ef-f4b588907b12-c000.snappy.parquet
-rw-r--r-- 1 aliciescont aliciescont 22M feb 26 18:45 part-00005-37b606cc-a287-4bda-a3ef-f4b588907b12-c000.snappy.parquet
-rw-r--r-- 1 aliciescont aliciescont 22M feb 26 18:45 part-00006-37b606cc-a287-4bda-a3ef-f4b588907b12-c000.snappy.parquet
-rw-r--r-- 1 aliciescont aliciescont 22M feb 26 18:45 part-00007-37b606cc-a287-4bda-a3ef-f4b588907b12-c000.snappy.parquet
-rw-r--r-- 1 aliciescont aliciescont 23M feb 26 18:45 part-00008-37b606cc-a287-4bda-a3ef-f4b588907b12-c000.snappy.parquet
-rw-r--r-- 1 aliciescont aliciescont 23M feb 26 18:45 part-00009-37b606cc-a287-4bda-a3ef-f4b588907b12-c000.snappy.parquet
-rw-r--r-- 1 aliciescont aliciescont 23M feb 26 18:45 part-00010-37b606cc-a287-4bda-a3ef-f4b588907b12-c000.snappy.parquet
-rw-r--r-- 1 aliciescont aliciescont 23M feb 26 18:45 part-00011-37b606cc-a287-4bda-a3ef-f4b588907b12-c000.snappy.parquet
-rw-r--r-- 1 aliciescont aliciescont   0 feb 26 18:45 _SUCCESS

## Q3 Count records

In [32]:
df.registerTempTable('trips_data')

/home/aliciescont/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [34]:
spark.sql("""
    SELECT
        count(1)
    FROM trips_data
    """).show()

+--------+
|count(1)|
+--------+
|14961892|
+--------+

In [35]:
spark.sql("""
    SELECT
        count(1)
    FROM trips_data
    WHERE date(pickup_datetime) = "2021-06-15"
    """).show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

In [37]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter("pickup_date = '2021-06-15'") \
    .count()

452470

## Q4 Longest trip for each day

In [43]:
df \
    .withColumn('duration', df.dropoff_datetime.cast('long') - df.pickup_datetime.cast('long')) \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .groupBy('pickup_date') \
        .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(5) \
    .show()

+-----------+-------------+
|pickup_date|max(duration)|
+-----------+-------------+
| 2021-06-25|       240764|
| 2021-06-22|        91979|
| 2021-06-27|        71931|
| 2021-06-26|        65510|
| 2021-06-23|        59281|
+-----------+-------------+

## Q6 Most frequent pickup location zone

In [45]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2023-02-26 19:08:26--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230226%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230226T180947Z&X-Amz-Expires=300&X-Amz-Signature=f539730459dd7e0ace03c051ae0c8ac7b91b8046823154820de209e74015c42d&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2023-02-26 19:08:26--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230226%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230226T180947Z&X-Amz-Expires=300&X-Amz-Signature=f539730459dd7e0ace03c051ae0c8ac7b91b8046823154820de209e74015c42d&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12,03K  --.-KB/s    in 0s

2023-02-26 19:08:27 (36,3 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [46]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('raw/zones/taxi_zone_lookup.csv')

In [47]:
df_zones.registerTempTable('zones')

/home/aliciescont/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [48]:
df_zones.take(5)

[Row(LocationID='1', Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID='2', Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone'),
 Row(LocationID='3', Borough='Bronx', Zone='Allerton/Pelham Gardens', service_zone='Boro Zone'),
 Row(LocationID='4', Borough='Manhattan', Zone='Alphabet City', service_zone='Yellow Zone'),
 Row(LocationID='5', Borough='Staten Island', Zone='Arden Heights', service_zone='Boro Zone')]

In [51]:
spark.sql("""
    SELECT
        z.Zone,
        count(1)
    FROM trips_data as t
    LEFT JOIN zones as z on z.LocationID = t.PULocationID
    GROUP BY 1
    ORDER BY 2 DESC
    """).show()

+--------------------+--------+
|                Zone|count(1)|
+--------------------+--------+
| Crown Heights North|  231279|
|        East Village|  221244|
|         JFK Airport|  188867|
|      Bushwick South|  187929|
|       East New York|  186780|
|TriBeCa/Civic Center|  164344|
|   LaGuardia Airport|  161596|
|            Union Sq|  158937|
|        West Village|  154698|
|             Astoria|  152493|
|     Lower East Side|  151020|
|        East Chelsea|  147673|
|Central Harlem North|  146402|
|Williamsburg (Nor...|  143683|
|          Park Slope|  143594|
|  Stuyvesant Heights|  141427|
|        Clinton East|  139611|
|West Chelsea/Huds...|  139431|
|             Bedford|  138428|
|         Murray Hill|  137879|
+--------------------+--------+
only showing top 20 rows